{% extends "layout.html" %}

{% block title %}
<title>Inicio</title>
{% endblock %}

{% block content %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
     
          <section class="portafolio">
        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
       
          <h1>Modelamiento y Simulación </h1>
          <div class="portafolio-container">
            <section class="portafolio-item">
              <img src="static/img/estadistica.jpg" alt="" class="portafolio-img">
              <section class="portafolio-text">
                <h1>¿Qué es la estadistica?</h1>
                <p>La Estadística nos ayuda con la recopilación y análisis de datos con el fin
                  de obtener información, dibujar, obtener conclusiones y apoyo a la toma de decisiones. Los métodos estadísticos son
                  necesarios cuando Tenemos información incompleta sobre un fenómeno. Típicamente tenemos incompleta la
                  información porque no podemos recopilar datos de todos los miembros de una población o si hay incertidumbre en las
                  observaciones que hacemos (por ejemplo, debido a la medición y el ruido).</p>
              </section>
            </section>
            <section class="portafolio-item">
              <img src="static/img/aleatorio.jpg" alt="" class="portafolio-img">
              <section class="portafolio-text">
                <h1>Numeros Aleatorios</h1>
                <p>La simulación de cualquier sistema o proceso donde existen componentes aleatorios necesita de
                  números al azar, un número aleatorio es un número de una secuencia cuya probabilidad de
                  ocurrencia es igual a la de cualquier otro número de la secuencia. Disponer de un buen generador
                  de números aleatorios es fundamental en cualquier simulación. Constituye también una parte
                  fundamental en otras áreas, como la Informática (algoritmos aleatorizados, verificación de
                  algoritmos, complejidad de algoritmos, criptografía, ...).</p>
              </section>
            </section>
            <section class="portafolio-item">
              <img src="static/img/regresion.png" alt="" class="portafolio-img">
              <section class="portafolio-text">
                <h1>Modelo de Regresión</h1>
                <p>La regresión logística es un método estadístico que trata de modelar la probabilidad de una variable cualitativa binaria (dos posibles valores) en función de una o más variables independientes. La principal aplicación de la regresión logística es la creación de modelos de clasificación binaria.</p>
              </section>
            </section>
            
          </div>
        </section>

  </section><!-- End Hero -->

  <p></p>
<!-- tercera -->
  <main id="main">
    </section>
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>¿ Que es Modelamiento ?</h3>
            <iframe width="460" height="315" src="https://www.youtube.com/embed/uBtHqqDvRDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
            
          </div>
           
            
          <div class="col-lg-3 cta-btn-container text-center">
               <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                  <h3>Ventajas y Desventajas de la simulación </h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/lpN0A3-8yyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
               
              </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ======= Hero Section ======= -->



</section><!-- End Hero -->





  </main>

  
  {% endblock %}