{% extends "layout.html" %}

{% block title %}
<title> Resultado Método congruencial multiplicativo</title>
{% endblock %}

{% block content %} 
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="{{url_for('home')}}">Home</a></li>
      </ol>
      <h2> Resultado del Método Congruencial Multiplicativo</h2>

    </div>
  </section><!-- End Breadcrumbs -->


  <br>
<div class="section-title">
  <h2>Formulario de Datos </h2>
</div>

<div class="container">
     
    <div class="card">
        <form method="POST" action="{{url_for('calcularCongruencialMultiplicativo')}}"><br>
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Número iteraciones</label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Semilla</label>
                        <input name="semilla" type="number" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Multiplicador</label>
                        <input name="multiplicador" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Módulo</label>
                        <input name="modulo" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Calcular</button>
            </div>
        </form><br> 
    </div>
</div><br>

<div class="container">
    <br>
    <div class="section-title">
      <h2>Gráfica </h2>
    </div>
    
    <div class="card5">
        <center><img src="data:image/png;base64,{{ image }}"></center>
    </div>
</div><br>

<br>
<br>
<div class="section-title">
  <h2>Resultado de Datos </h2>
</div>

<div class="container">
    {{data|safe}}
</div>
{% endblock %}
<br>