{% extends "layout.html" %}

{% block title %}
<title>Media, Mediana y Moda</title>
{% endblock %}
  
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li>MED</li>
          </ol>
          <h2>Media, Mediana y Estadística</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->


<div class="container">

<br>
<div class="section-title">
  <h2>Formulario de Datos </h2>
</div>

<div class="card">
    <form enctype="multipart/form-data" method="POST" action="{{url_for('calcularMED')}}"><br>
     <div class="col-sm-12">
      <div class="container">
            <div class="form-row">
                <div class="col-md-6 mb-3">
  
                    <label for="exampleFormControlFile1">Subir archivo para calcular (.xlsx)</label>
                    <input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                    </small>
                </div>              
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01">Nombre del Campo a Analizar</label>
                    <input name="nombreColumna" type="text" class="form-control" id="validationDefault01"  required>
                </div>
                
            </div>    
            <button class="btn btn-primary" type="submit">Calcular</button>
        </div>
    </form><br> 
</div>
</div><br>

<div class="section-title">
  <h2>Datos </h2>
</div>
<div class="container"> 

        
            {{datohtml|safe}}
      
<br>
<div class="section-title">
  <h2>Resultado de Media, Mediana y Moda </h2>
</div>

  <div class="container">
    {{data|safe}}
  </div>

  </div>
  <div class="container">
    <div class="section-title">
      <br>
      <h2>Gráfica</h2>
    </div>
      <div class="card">
          <center><img src="data:image/png;base64,{{ image }}"></center>
      </div>
  </div>
  <br><br>
  <br><br>
  <div class="container"> 

<br>

<div class="container">
    {{data2|safe}}
</div>
<br><br>
{% endblock %}